{% extends "macros/base.html" %}

{% block content %}
  <p>Valores nutritivos por 100g de alimento</p>
  {% for food in foods %}
    <article class="food">
      <h2><a href="">{{ food.name }}</a></h2>
      <ul>
        <li>Carboidratos: {{ food.carbohydrate }}</li>
        <li>Proteínas: {{ food.protein }}</li>
        <li>Lipídeos: {{ food.fat }}</li>
        <li>Calorias: {{ food.calories }}</li>
      </ul>
    </article>
  {% endfor %}
{% endblock %}  